// 引入定义的模板SCSS文件: 拆分功能，样式的职责
@import "Base/baseSettings";
@import "Base/baseFonts";
@import "Base/baseColors";
@import "Base/baseTheme";
@import "Base/baseFunctions";

// 可以注释，可以申明统一的变量 
body {
    line-height: $base-line-height;
    font-weight: $font-weight-normal;
}

h1, h2, h3 {
    font-weight: $font-weight-heading;
}

h1 {
    font-size: $font-weight-heading;
}

blockquote {
    border-left: 2px solid $color02;
    padding-left: $spacing-smaller;
}

.box {
    background: $color04;
    padding: $space-padding-normal;
    // 找到标签下一层的标签
    // 取消掉内部的p的默认作用效果
    > p {
        margin: 0;
    }
}

.rounded-box {
    // 直接继承指定元素的样式，不用再重新写
    @extend .box;
    margin-top: $spacing-small;

    // 下面针对不同的浏览器 区别作用的效果 
    // 每一个位置 针对同一个属性 都需要设置多次 !!!!
    // -webkit-border-radius: $spacing-small * 2;
    // -moz-border-radius: $spacing-small * 3;
    // -ms-border-radius: $spacing-small;
    // border-radius: $spacing-small;

    // 下面使用函数来统一的设置: 指定属性 + 设置的值
     @include vendor(border-radius, $spacing-small);

    // 支持下面的一种调用方式
    // @include vendor(border-radius, 20px 10px 30px 0px);
}