// CSS动画的标准定义

.shake:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0,0);
}

// 关键帧 @keyframes规则通过在动画序列中定义关键帧的样式来控制CSS动画序列中的中间步骤
@keyframes shake {
    10%, 90% {
        transform:  translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform:  translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform:  translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform:  translate3d(4px, 0, 0);
    }
}

// 关键帧 keyframes 可以控制动画序列的中间步骤
@keyframes slide-in {
    from {
        transform: translateX(0%); 
    }

    to {
        transform: translateX(100%);
    }
}

// 定义class属性值的动画效果
.slide-in-down {
    animation: slide-in-down 2s;
}

@keyframes slide-in-down {
    // 从顶部往下显示，初始位置完全在页面之外
    0% { transform: translateY(-100%); opacity: 0;}
    100% { transform: translateY(0%); opacity: 1;}
}

.slide-in-right-shake {
    animation: slide-in-right-shake 1s;
    transform: translateX(0);
}

@keyframes slide-in-right-shake {
    // 从页面的左边移进，在中间的位置左右晃动
    0% { transform: translateX(-100%); opacity: 0;}
    70% { transform: translateX(2%);}
    75% { transform: translateX(-2%);}
    80% { transform: translateX(2%);}
    85% { transform: translateX(-1%);}
    95% { transform: translateX(1%);}
    100% { transform: translateX(0%); opacity: 1;}
}