h1, h2 {
    color: red !important;
}

h1 {
    font-size: 14px;
    border: 1px solid green;
}

h1 {
    color: beige;
    display: inline-block;
    margin: 0px 10px 20px 0px;
}

h2 {
    border-width: 1px;
    border-style: solid;
    border-color: blue;

    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

strong {
    font-weight: normal;
    font-style: italic;
}

em {
    font-style: normal;
}


.Navbar {
    background: yellow;
}

span {
    color: gray;
}

.Navbar span {
    color: blue;
}

.Navbar > span {
    color: black;
}

.Navbar ~ p {
    font-style: italic;
    color: coral;
}

.Navbar + p {
    color: yellowgreen;
}

.BigPadding {
    padding: 10px;
}

#insideDiv {
    background-color: pink;
}



.m0 {
    margin: 0;
}

a {
    color: green;
}

a:hover {
     color: pink;
}

a:visited {
     color: brown;
}

input[type=text] {
	padding: 10px;
}

input[type=submit] {
	padding: 10px;
}
