<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<!-- change to the /test page : POST methode -->
<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>