html {
    color: white;
    font-family: sans-serif;
}

body { margin: 0; }

// 格式化页面的基本元素
h1, p {
  margin: 0;
  line-height: 1.3;
}

.container { padding: 25px; }

.header { background: blue; }

// 左右间隔保持自动，自定宽度，自动居中显示
// wrapper滚动触发的响应宽度
.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.center { text-align: center; }

.grid {  
    font-size: 0; // 这里取消div本身带有的间隔的效果
    .col {
        width: 100%;
        font-size: 16px; // 将div中文字的大小恢复
        display: inline-block; // 改变div成一行inline的显示效果
        &.half {
            width: 50%; // 设置col harf一半的效果
        }
        box-sizing: border-box;   // 上面的width的宽度要包含border设置的大小

        &.content-a, &.content-b, &.content-c {
            width: 33%;
            padding: 15px;
        }
        &.content-a { background: red; }
        &.content-b { background: blue; }
        &.content-c { background: green; }

        // 当页面的宽度<=900px的时候，刷新设置页面的 Response styles 
        @media only screen and (max-width: 900px) {
            &.content-a, &.content-b, &.content-c {
                width: 50%;
            }
            .button {
                display: block;
                text-align: center;
            }
        }
        @media only screen and (max-width: 600px) {
            &.content-a, &.content-b, &.content-c {
                width: 100%;
            }
            .half {
              width: 100%;
            }
        }
    }
}

.left { text-align: left; }
.right { text-align: right; } 

.button {
    display: inline-block;  // 取消div站整行的效果
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}