@import "baseColors";
@import "baseFunctions";

html {
    background: $color01;
    color: $color03;
}

// 直接在a标签的内部 添加hover的作用效果
a {
    color:$color02;

    // & 代表parent 选择的元素 : 符合逻辑的嵌套关系 
    // &:hover &:focus {
    //     color: $color04;
    // }

    // 使用函数 同时设置两种属性：传递函数的内容 content
    @include setHoverAndFocus() {
        color: $color04;
    }
}